{
    "plugins": ["prettier-plugin-tailwindcss"],
    "experimentalTernaries": true,
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "all",
    "proseWrap": "always",
    "quoteProps": "as-needed"
}
